.error_span{
    height: auto;
    background: #f2dede;
    font-size: 19px !important;
    padding-left: 10px;
    border: 1px solid #F3565D!important;
}
.fa-close:hover{
    cursor: pointer;
}
.w115p{width: 115px}
.cl333{color: #333}
.bd1ps{border: 1px solid #e5e5e5}
.fs14p{font-size: 14px}
.fwn{font-weight: normal}
.w13p{width: 13px}
.w20p{width: 20px}
.w35p{width: 35px}
.h13p{height: 13px}
.h20p{height: 20px}
.h35p{height: 35px}
.h34p{height: 34px}
.h30p{height: 30px}
.ti10p{text-indent: 10px}
.pr{position: relative !important;}
.cp{cursor: pointer;}
.tsn{text-shadow: none;}
.cl5b9bd1{color: #5b9bd1;}
.pd10{padding: 10px;}
.wdfc{width: fit-content;}
.tal{text-align: left;}
.mrga{margin:auto;}
.mrb10{margin-bottom:10px;}
.mrt15{margin-top:15px;}
.mrt20{margin-top:20px;}
.mrr20{margin-right:20px;}
.mrr35{margin-right:35px;}
.mrt30{margin-top:30px;}
.f12{font-size:12px;}
.tx-red{color:#ff0000;}
.pb{position: absolute !important;}
.t10{top: 10px;}
.r10{right: 10px;}
.main_btn{
    line-height: 35px !important;
    width: 130px !important;
    padding: 0px 0px !important;
}

.link_btn{
    color: white;
    margin-left: 10px;
    margin-right: 35px;
    line-height: 40px;
    font-size: medium;
}
.link_btn:hover {
    /*color: #4dbf1c;*/
    color: darkgreen;
}

.bcfff{background-color: #fff}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    border: 0;
    font: 12px;
    font-family: Arial;
    color: #000000;
    background: #ffffff;
}

span[title]:hover{height: 100px;color: #000000; background: #ffffff;}

#inner-container {
    width: 1000px;
    max-width: 100%;
    padding: 20px 0 70px 0;
    height: 100%;
}

#container {
    min-height: 100%;
    padding: 20px;
    border-radius: 2px;
}

.pages {
    padding: 10px 14px;
    color: #000000;
    border-radius: 50%;
    background: #CCC;
    text-decoration: none;
    margin: 0px 6px;
    font-size: 0.9em;
}

.pages:hover {
    color: #ffffff;
    background: #666;
}

.current {
    padding: 10px 14px;
    color: #ffffff;
    background: #73AD21;
    text-decoration: none;
    border-radius: 50%;
    margin: 0px 6px;
}


a.tooltip {
    border-bottom: 1px dashed;
    text-decoration: none;
    display: contents;
}
a.tooltip:hover {
    cursor: help;
    position: relative;
}
a.tooltip span {
    display: none;
}
a.tooltip:hover span {
    border: #000 2px solid;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: #e3e3e3;
    left: 0px;
    margin: 15px;
    width: 500px;
    top: 30px;
    position: absolute;
    text-decoration: none;
}
a.tooltip_easy_match {
    border-bottom: 1px dashed;
    text-decoration: none;
    display: contents;
}
a.tooltip_easy_match:hover {
    cursor: help;
    position: relative;
}
a.tooltip_easy_match span {
    display: none;
}
a.tooltip_easy_match:hover span {
    border: #000 2px solid;
    padding: 10px 10px 10px 10px;
    display: block;
    z-index: 100;
    background: #e3e3e3;
    /*background: lightyellow;*/
    left: -250px;
    /*margin: 15px;*/
    width: 500px;
    top: 30px;
    position: absolute;
    text-decoration: none;
}

 .table-fixed{
  width: 100%;
  background-color: #f3f3f3;
  tbody{
    height:200px;
    overflow-y:auto;
    width: 100%;
    }
 thead,tbody,tr,td,th{
    display:block;
  }
 tbody{
    td{
      float:left;
    }
  }
 thead {
    tr{
      th{
        float:left;
       background-color: #f39c12;
       border-color:#e67e22;
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  display:none;
  background: rgba(0, 0, 0, 0.6);
}

.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 50px 0px 20px;
  border: 5px solid #ddd;
}

.modal .close-button {
  position: absolute;

  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;

  top: 10px;

  /* needs to look OK with or without scrollbar */
  right: 20px;

  border: 0;
  background: #006400;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
}

.modal {
  /* This way it could be display flex or grid or whatever also. */
  display: none;

  /* Probably need media queries here */
  width: 70%;
  max-width: 100%;
  height: 70%;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;

  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

#easy_match_table .table-dark {
    color: #fff !important;
}

.login_section{
    border: 2px solid forestgreen;
    padding: 10%;
    margin: 10%;
}

.signin_section{
    border: 2px solid forestgreen;
    padding: 5%;
    margin: 10%;
}

.add_user_button{
    background-color: darkgreen !important;
}

.add_user_button:hover{
    background-color: #004d26 !important;
}